tr{


	font-family: Verdana, Geneva, sans-serif;

	color: #883322;


}

a:link{

	color: #883322;

}


a:visited{


	color:#552211;


}

body{

	background-color: #99CCCC;

	color: #883322;

	font-size: 16px;


}

header{ 
	
	display:block; 

	margin-bottom: 1px; 

}


nav{ 

	display:block; 
	
	width: 170px; 
	
	float: left;

	margin-right: 10px;

	font-weight: bold;

	font-family: Stoke, Verdana, Liberation;
 	
	

 }


a{

	text-decoration: none;

}

ul{

	line-height: 200%;

	list-style-type: square;

}

h3{

	color: #883322;

}

td{

	border: 3px solid #96867C;

	padding: 6px 12px 6px 12px;

	color: #000000;
}

th{

	border: 3px solid #96867C;

	padding: 6px 12px 6px 12px;

	color: #000000;

}

.ulnav{

	font: #883322;

	line-height: 230%;

	margin-top: 40px;

	list-style-type: square;

}

.ender{

	text-align: right;

	font-size: 15px;

	line-height: 140%;

	float: right;


}

.imgLogo{

	border-bottom: solid 3px;

	margin-top: 6px;

	padding-bottom: 15px;


}


.apres{

	text-align: center;

	font-size: 18px;

	font: Stoke, Verdana, Liberation;

}

.plf{

	padding-left: 170px;

}

.listaMesas{

	color: #000000;

	line-height: 200%;

	list-style-type: lower-roman;

	font-family: Raleway, Arial, Ubuntu;

}

.preco{

	color: #CC0000;

	font-weight: bold;
}

.cnt{

	text-align: center;
}

.tabCadeira{

	border-collapse: collapse;

	background-color: #D5D1CF;

	margin-top: 6px;


}

.titulo{

	color:#EEEE00;

	background-color:#8C7B70; 

	font-size: 24px;

	text-align: center;

	font-weight: bold;
}

.linTH{

	background-color: #B8AEA9;

	vertical-align: middle;

	text-align: center; 

	font-weight: bold;
}

.colTH{

 	background-color: #B8AEA9;

 	text-align: left; 

 	font-weight: bold;
}

.imgCel{

	background-color: #FFFFFF;

}

.preco{

	color: #DD0000

	font-weight: bold;

	vertical-align: middle;	

}

.imgCadeira{

	height: 78px; 

	width: 60px;
}



.lb{

	display: block;

	float: left;

	

}