<!--***!!!!ATENÇÂO!!!***--
<!--Ao fazer alterações neste documento, realizar as mesms no footer-->
<!-- Footer -->
<footer id="footer" class="page-footer unique-color-dark mt-4 footer_sempre_embaixo">
  <div class="info-color-dark text-center py-4">
    <!--Contact-->
    <a id="footer-link-contact" href="https://www.megavirtua.com/baile-de-favela/contato.php" data-toggle="modal" data-target="#contactForm" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Contato
      <i class="fa fa-envelope white-text ml-2"> </i>
    </a>
    <!--Youtube-->
    <a id="footer-link-youtube" href="https://www.youtube.com/watch?v=cXTThxoywNQ">
      <i class="fa fa-youtube white-text mr-4"> </i>
    </a>
    <!--Facebook-->
    <a id="footer-link-facebook" href="https://www.facebook.com/mdbootstrap">
      <i class="fa fa-facebook white-text mr-4"> </i>
    </a>
    <!--Twitter-->
    <a id="footer-link-twitter" href="https://twitter.com/MDBootstrap">
      <i class="fa fa-twitter white-text"> </i>
    </a>
  </div>
  <!--Footer Links-->
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Links Úteis</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        
        <p>
          <a id="footer-link-faq" href="/faq/">FAQ</a>
        </p>

        <p>
          <a id="footer-link-license" href="/license/">Licença</a>
        </p>
        
        <p>
          <a id="footer-link-policy" href="/privacy-policy/">Privacidade</a>
        </p>

      </div>
      <!--/.First column-->
      
    </div>
  </div>
  <!--/.Footer Links-->
  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="https://www.MDBootstrap.com">
       <strong> Bailedefavela.com</strong>
    </a>
  </div>
  <!--/.Copyright -->
</footer>
<!-- Footer -->