/* Your custom styles */
#textoMural {
    text-shadow: rgb(78, 52, 46) 3px 0px 0px, rgb(78, 52, 46) 2.83487px 0.981584px 0px, rgb(78, 52, 46) 2.35766px 1.85511px 0px, rgb(78, 52, 46) 1.62091px 2.52441px 0px, rgb(78, 52, 46) 0.705713px 2.91581px 0px, rgb(78, 52, 46) -0.287171px 2.98622px 0px, rgb(78, 52, 46) -1.24844px 2.72789px 0px, rgb(78, 52, 46) -2.07227px 2.16926px 0px, rgb(78, 52, 46) -2.66798px 1.37182px 0px, rgb(78, 52, 46) -2.96998px 0.42336px 0px, rgb(78, 52, 46) -2.94502px -0.571704px 0px, rgb(78, 52, 46) -2.59586px -1.50383px 0px, rgb(78, 52, 46) -1.96093px -2.27041px 0px, rgb(78, 52, 46) -1.11013px -2.78704px 0px, rgb(78, 52, 46) -0.137119px -2.99686px 0px, rgb(78, 52, 46) 0.850987px -2.87677px 0px, rgb(78, 52, 46) 1.74541px -2.43999px 0px, rgb(78, 52, 46) 2.44769px -1.73459px 0px, rgb(78, 52, 46) 2.88051px -0.838246px 0px;
}

.text-gold-carrossel {
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #2E2E2E;
    -webkit-text-fill-color: #E0E000;
    font-size: 19px;
    font-weight: bold;
}

.text-gold-carrossel-titulo {
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #2E2E2E;
    -webkit-text-fill-color: #E0E000;
    font-size: 23px;
    font-weight: bold;
}

.text-diamond-carrossel{
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #2E2E2E;
    -webkit-text-fill-color: #C2ECFF;
    font-size: 19px;
    font-weight: bold;
}

.text-diamond-carrossel-titulo{
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #2E2E2E;
    -webkit-text-fill-color: #C2ECFF;
    font-size: 23px;
    font-weight: bold;
}

#primario{
    color:#4285F4;  
}

#btnTransparente {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
}                    

.footer_sempre_embaixo {
    min-height: calc(100% - 285px);
}

/*Quebra a linha para o texto caber na tela*/
.quebra_linha{    
    width:100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

/*Esta classe faz com que toda imagem fique corretamente nos limites do carrossel*/
.carousel-item-start-bootstrap {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fundo-texto-carrossel{
    background-color: rgba(0, 0, 0, 0.3);
}

.fundo-texto-seta-carrosel{
    background-color: rgba(115, 115, 115);
}

